---
// import GitHub from "./icons/GitHub.astro"
import React from "./icons/React.astro";
import Tailwind from "./icons/Tailwind.astro";
import Vite from "./icons/Vite.astro";
import Php from "./icons/Php.astro";
import Sass from "./icons/Sass.astro";
import Js from "./icons/Js.astro";
import MySQL from "./icons/MySQL.astro";
// import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro";

const TAGS = {
  REACT: {
    name: "React",
    class: "bg-black text-white",
    icon: React,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  VITE: {
    name: "Vite",
    class: "bg-black text-white",
    icon: Vite,
  },
  PHP: {
    name: "Php",
    class: "bg-black text-white",
    icon: Php,
  },
  SASS: {
    name: "Sass",
    class: "bg-black text-white",
    icon: Sass,
  },
  JS: {
    name: "Js",
    class: "bg-black text-white",
    icon: Js,
  },
  MYSQL: {
    name: "MySQL",
    class: "bg-black text-white",
    icon: MySQL,
  },
};
const PROJECTS = [
  {
    title: "AppSalon - Cortes de cabello y más. Reserva tu cita",
    description:
      "Página realizada en un curso de desarrollo web de Juan Pablo de la Torre y con mis modificaciones propias al diseño. La página funciona con una base de datos el cual permite ofrecer varios servicios.",
    link: "https://svgl.vercel.app/",
    github: "https://github.com/eniomejia01/appsalon-mvc-php.git",
    image: "/projects/421shots_so.webp",
    tags: [TAGS.PHP, TAGS.SASS, TAGS.JS, TAGS.MYSQL],
  },
  {
    title: "Online Store - Venta de artículos de uso personal",
    description:
      "Página realizada en un curso de Platzi y con mis modificaciones propias al diseño.",
    link: "https://dainty-concha-fa9f68.netlify.app",
    github: "https://github.com/eniomejia01/react-course-platzi.git",
    image: "/projects/294shots_so.jpg",
    tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.VITE],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Recién llegado vs 5 años en Nueva Zelanda"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-blue-900 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-sky-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && <LinkButton href={github}>Code</LinkButton>}
              {link && <LinkButton href={link}>Preview</LinkButton>}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
